@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 15% 95%;
    --foreground: 220 20% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 20% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 20% 20%;
    --primary: 220 90% 56%;
    --primary-foreground: 220 20% 95%;
    --secondary: 210 15% 85%;
    --secondary-foreground: 220 20% 30%;
    --muted: 210 15% 90%;
    --muted-foreground: 220 15% 50%;
    --accent: 340 80% 60%;
    --accent-foreground: 220 20% 95%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 220 20% 95%;
    --border: 220 15% 85%;
    --input: 220 15% 95%;
    --ring: 220 90% 56%;
    --chart-1: 210 80% 46%;
    --chart-2: 175 65% 40%;
    --chart-3: 35 80% 60%;
    --chart-4: 50 70% 50%;
    --chart-5: 320 75% 70%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 220 20% 12%;
    --foreground: 220 20% 90%;
    --card: 220 20% 18%;
    --card-foreground: 220 20% 90%;
    --popover: 220 20% 18%;
    --popover-foreground: 220 20% 90%;
    --primary: 220 80% 56%;
    --primary-foreground: 220 20% 98%;
    --secondary: 220 15% 24%;
    --secondary-foreground: 220 20% 80%;
    --muted: 220 15% 20%;
    --muted-foreground: 220 20% 60%;
    --accent: 340 80% 60%;
    --accent-foreground: 220 20% 95%;
    --destructive: 0 70% 40%;
    --destructive-foreground: 220 20% 95%;
    --border: 220 20% 18%;
    --input: 220 20% 18%;
    --ring: 220 80% 56%;
    --chart-1: 210 80% 50%;
    --chart-2: 175 65% 40%;
    --chart-3: 35 80% 55%;
    --chart-4: 50 70% 50%;
    --chart-5: 320 75% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .container {
    @apply py-4;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex-center !justify-between;
  }
}
